<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="./../../../bootstrap.css" rel="stylesheet">
        <link rel="stylesheet" href="./../../../style.css">
        <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
        <link rel="icon" type="image/png" href="/favicon.png"/>
        <link rel="icon" type="image/png" href="logo.png"/>
        <title>COVIDA</title>
    </head>

    <body id="home-body">
        <!-- Navigation -->
        <nav>
            <div class='navbar navbar-expand-lg navbar-dark bg-dark'>
                <a class="navbar-brand" href="/">
                    <img src='./../../../covida.png' width="75" height="30" alt="">
                </a>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav" id="navBarLinks">
                    <div class="form-inline">
                        <input id="searchForm" class="form-control mr-sm-2" type="search" placeholder="Search">
                        <button id="searchButton" class="btn btn-primary">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                    </div>
                    <div class="userInfo">
                        <a class="text-white p-4" href="/account">{{username}}</a>
                        <a href="/logout"<button class="btn btn-primary" type="button">Log Out</button></a>
                    </div>
                </div>
            </div>
        </nav>
        <hr>

        <!-- Page Content -->
        <h1>Editing {{name}}</h1>
        <div class="col-lg-6 offset-lg-3">
            <div class="card text-center">
                <br><br><h5 class="text-center mb-4">Edit your Group!</h5>
                <form class="box" action="/site/edit/groups/{{id}}" method="POST">
                    <div class="form-group">
                        <label for="groupName" class="col-sm-2 col-form-label">Name</label>
                        <div class="col-lg-6 offset-lg-3">
                            <input type="text" class="form-control" name="name" placeholder="Enter Group Name" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="groupDesc" class="col-sm-2 col-form-label">Description</label>
                        <div class="col-lg-6 offset-lg-3">
                            <input type="text" class="form-control" name="desc" placeholder="Enter Group Description" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col text-center">
                            <input type="submit" name="" class="btn btn-primary" value="Update" href="#">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class = "col text-center">
            <br><br><a href="javascript:history.back()" <button class="btn btn-primary" type="button">Go Back</button></a><br><br>
        </div> 

        <script>
            document.getElementById("searchButton").onclick = () => {
                let userInput = document.getElementById("searchForm").value
                if(userInput) {
                    let result = "http://localhost:8080/site/games/name/".concat(userInput)
                    location.href = result
                } else {
                    alert("To search for a Game you need to insert a name!")
                }
            }
        </script>
    </body>
</html>
    